# Ignore models and features
*.pth
*.pt
*.npy
*.npz
*.pkl


# Ignore datasets, videos, and extracted features
data/
bank/

# Ignore cache and logs
__pycache__/
*.log
*.out
*.err
*.pyc

# Ignore IDE and system files
.vscode/
.idea/
.DS_Store
